@media (max-width: 1500px) {
  .pro-part {
    margin-bottom: 35px !important;
  }
}
.mobile-navigation {
  display: none !important;
}
@media (max-width: 990px) {
  .loader {
    display: none;
  }
  .mobile-navigation {
    display: block !important;
  }
  .mobile-navigation {
    height: 100vh !important;
  }
  .banner {
    padding-top: 32px;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  .exp {
    margin-right: 0rem;
    margin-bottom: 16px;
    display: block;
  }
  .icons a {
    padding: 5px 8px;
  }
  .creator {
    padding-top: 30px;
  }
  nav {
    padding: 1.5rem 0rem !important;
  }
  .cv {
    padding-top: 55px;
    padding-bottom: 60px;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
  .banner h1 {
    font-size: 2rem;
    font-weight: 600;
  }
  .hamburger-btn {
    position: absolute;
    top: 2.5rem;
    right: 2rem;
  }
  .b .img-part {
    display: none !important;
  }
  .pro-part {
    box-shadow: 1px 1px 8px 1px rgb(0 0 0 / 20%);
    height: 166px;
    margin-bottom: 195px;
    transition: all 0.3s ease-in-out;
    position: relative;
  }
  .meet {
    width: 15% !important;
  }
}
