@media (min-width: 960px) {
  .card-part-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 575.98px) {

	.skill-head {
		margin: 50px 0;
	}	

	.skill-head h1 {
		font-size: 30px;
	}

	.skill-icon {
		width: 50%;
	}
	
	.skill-icon i {
		font-size: 70px;
	}

	.single-skill {
		width: 50%;
	}

	.circle-chart {
		width: 130px;
		height: 130px;
	}
}

@media (min-width: 540px) {
  .card-part-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}