body {
  font-family: "Exo 2", sans-serif;
  font-family: "Montserrat", sans-serif !important;
  font-size: 10vmax;
  line-height: 1;
  color: white;
  background-color: #07051c !important;
  overflow: hidden;
}
.navigation {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 1;
}
.navigation a {
  text-decoration: none;
  color: inherit;
  padding: 0.5rem 6vmax;
  font-size: 1rem;
  border: 1px solid;
  border-radius: 2rem;
  margin: 1rem auto;
}
.navigation a:hover {
  background-color: #252525;
  color: #fdfdfd;
}
.navigation a.active {
  background-color: #252525;
  color: #fdfdfd;
}
#page {
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}
.container {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  inset: 0;
}
.loader {
  position: absolute;
  inset: 0;
  z-index: 5;
  background-color: #252525;
  transform: translatex(0%);
  transition: transform 0.9s cubic-bezier(0.76, 0, 0.24, 1) 0.5s;
  will-change: transform;
}
.a,
.b,
.c {
  display: flex;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-property: opacity, visibility;
  transition-duration: 0.5s;
  transition-delay: -0.1s;
  transition-timing-function: ease-in-out;
  height: 100%;
}
.ac {
  margin: auto;
}
[data-route="a"] .a,
[data-route="b"] .b,
[data-route="c"] .c {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transition: opacity 0.5s ease-in 0.9s;
}
.disable-hover,
.disable-hover * {
  pointer-events: none !important;
  cursor: none;
  cursor: wait;
}

/* navigation */

.img-part {
  background-image: url("/img/960x1440-bg-menu.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.row1 > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: 0px !important;
  padding-left: 0px !important;
  margin-top: var(--bs-gutter-y);
}
.text-part {
  height: 100vh;
  width: 100%;
}
.icons {
  color: white;
  justify-content: end;
  display: flex;
}
.icons i {
  padding-top: 15px;
  padding-bottom: 10px;
}
nav {
  padding: 5rem;
}
.icons i,
.icons a {
  font-size: 18px;
  margin-left: 25px;
}
.icons a {
  text-decoration: none;
  color: white;
  padding: 10px 30px;
  border: 2px solid white;
  border-radius: 2.4rem;
}
.home {
  color: white;
}
.banner {
  padding-top: 180px;
  padding-left: 6rem !important;
  padding-right: 6rem !important;
}
.banner span {
  color: #f987d6;
}
hr.meet {
  border-top: 3px solid #f987d6;
  display: inline-block;
  width: 7%;
}