body {
  font-family: "Exo 2", sans-serif;
  font-family: "Poppins", sans-serif !important;
  font-size: 10vmax;
  line-height: 1;
  color: white;
  background-color: #07051c !important;
  height: 100vh !important;
  overflow-x: hidden;
}
.navigation {
  z-index: 1;
}
.navigation a {
  text-decoration: none;
}
.navigation a:hover {
  background-color: #252525;
  color: #fdfdfd;
}
.navigation a.active {
  background-color: #252525;
  color: #fdfdfd;
}
.z .text-part::-webkit-scrollbar-track,
.c .text-part::-webkit-scrollbar-track,
.p .text-part::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #07051c;
  border-radius: 5px;
}

.z .text-part::-webkit-scrollbar,
.c .text-part::-webkit-scrollbar,
.p .text-part::-webkit-scrollbar {
  width: 5px;
  background-color: #07051c;
}

.z .text-part::-webkit-scrollbar-thumb,
.c .text-part::-webkit-scrollbar-thumb,
.p .text-part::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #6a47af 0%, #f987d6 100%);
}

.container {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  inset: 0;
}
.loader {
  position: absolute;
  inset: 0;
  z-index: 5;
  background-color: #1f1e337d;
  transform: translatex(0%);
  transition: transform 0.9s cubic-bezier(0.76, 0, 0.24, 1) 0.5s;
  will-change: transform;
}
.a,
.b,
.c,
.z,
.p {
  display: flex;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-property: opacity, visibility;
  transition-duration: 0.5s;
  transition-delay: -0.1s;
  transition-timing-function: ease-in-out;
  height: 100%;
}
.ac {
  margin: auto;
}
[data-route="a"] .a,
[data-route="b"] .b,
[data-route="c"] .c,
[data-route="z"] .z,
[data-route="p"] .p {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transition: opacity 0.5s ease-in 0.9s;
}
.disable-hover,
.disable-hover * {
  pointer-events: none !important;
  cursor: none;
  cursor: wait;
}

/* navigation */

.img-part {
  background-image: url("/img/960x1440-bg-menu.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
}
.img-ctc {
  background-image: url("/img/960x1440-bg-contact.jpg");
}
.row1 > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: 0px !important;
  padding-left: 0px !important;
  margin-top: var(--bs-gutter-y);
}
.text-part {
  height: 100vh;
  width: 100%;
  z-index: 4;
  position: relative;
  overflow: scroll !important;
}
.icons {
  color: white;
  justify-content: end;
  display: flex;
}
.icons i {
  padding-top: 15px;
}
nav {
  padding: 2.5rem 5rem !important;
}
.icons i,
.icons a {
  font-size: 18px;
  margin-right: 10px;
}
.icons .ctc {
  text-decoration: none;
  color: white;
  padding: 13px 32px 8px 32px;
  border: 2px solid white;
  border-radius: 2.4rem;
  margin-left: 18px;
}
.icons a {
  text-decoration: none;
  color: white;
  padding: 10px 30px;
}
.home {
  color: white;
}
.banner {
  padding-top: 180px;
  padding-left: 6rem !important;
  padding-right: 6rem !important;
}
.cv {
  padding-top: 250px;
  padding-left: 6rem !important;
  padding-right: 6rem !important;
}
.banner .headline__subtitle {
  color: #f987d6;
}
.meet {
  height: 1.5px;
  background-image: linear-gradient(to right, #6a47af 0%, #f987d6 100%);
  display: inline-block;
  width: 7%;
  margin-bottom: 5px;
  margin-right: 10px;
}
.exp {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 2rem;
  margin-right: 2rem;
  border-radius: 8px;
  color: #b3bbc3 !important;
}
.download {
  border-radius: 50%;
  padding: 25px 25px 25px 30px;
  color: black;
  background-color: white;
  font-size: 25px;
  text-decoration: none;
}
.cv span {
  margin-left: 2.7rem;
  font-weight: 600;
  font-size: 15px;
}
.logo {
  width: 50px;
}
.hamburger {
  background: white;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: space-between;
  width: 39px;
  height: 36px;
  cursor: pointer;
}
.hamburger div {
  align-self: flex-end;
  height: 2px;
  width: 100%;
  background: black;
}
.hamburger .meat {
  width: 75%;
  transition: all 200ms ease-in-out;
}
.hamburger .bottom-bun {
  width: 50%;
  transition: all 300ms ease-in-out;
}
.hamburger:hover div {
  width: 100%;
}
.hamburger:hover .top-bun {
  animation: burger-hover 1s ease-in-out alternate;
}
.hamburger:hover .meat {
  animation: burger-hover 1s ease-in-out alternate forwards 200ms;
}
.hamburger:hover .bottom-bun {
  animation: burger-hover 1s ease-in-out alternate forwards 300ms;
}

@keyframes burger-hover {
  0% {
    width: 100%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}
.img-part {
  position: relative;
}
.hamburger-btn {
  position: absolute;
  top: 3.5rem;
  right: 5rem;
}
.banner h1 {
  font-size: 4rem;
  font-weight: 600;
}
ul {
  list-style: none;
  padding-left: 0px !important;
}
ul li {
  margin-bottom: 2rem;
  letter-spacing: 4px;
  font: normal 600 3.6rem/1 "Poppins", sans-serif;
}
.link {
  text-decoration: none;
  color: white;
}
a {
  z-index: 9;
}
li {
  z-index: 10;
  position: relative;
}
.creator {
  opacity: 0.7;
  padding-top: 250px;
  font-size: 14px;
}

input,
textarea {
  width: 100%;
  margin-top: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #ffffff;
  border-radius: 6px;
  margin: 0 0 2.4rem 0 !important;
  outline: none;
  background-color: transparent;
  padding: 1.3rem 1.6rem 1.2rem 1.6rem;
  font: normal 400 1.4rem/1.6 "Poppins", sans-serif;
  -webkit-transition: border 0.3s, background-color 0.3s ease-in-out;
  -o-transition: border 0.3s, background-color 0.3s ease-in-out;
  -moz-transition: border 0.3s, background-color 0.3s ease-in-out;
  transition: border 0.3s, background-color 0.3s ease-in-out;
  z-index: 13 !important;
}
input {
  height: 4rem;
}

input:focus:required:invalid,
textarea:focus:required:invalid {
  color: #ffffff;
}
input:focus,
textarea:focus {
  background-color: rgba(255, 255, 255, 0.05);
  border: 2px solid #6a47af;
}
.about-me {
  opacity: 0.7;
  color: #707070;
}

.button {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  color: white;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  z-index: 888888;
  padding: 13px 32px 8px 32px;
  border: 2px solid white;
  border-radius: 2.4rem;
  margin-left: 18px;
  transition: all 0.3s ease;
}
.button span {
  position: relative;
  pointer-events: none;
}
.button:hover {
  color: black;
}
.button::before {
  --size: 0;
  content: "";
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: white;
  border-radius: 2.4rem;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: width 0.8s ease, height 0.8s ease;
}
.button:hover::before {
  --size: 400px;
}
.nav-link {
  transition: all 0.3s ease-in-out;
}
.nav-link:hover {
  color: rgb(191, 160, 182) !important;
}

.wrap {
  color: white;
}

.btn1 {
  text-decoration: none;
  color: white;
  font-weight: 600;
  position: relative;
  margin-left: 2em;
  transition: all 0.6s ease;
}
.btn1:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: -2em;
  top: 0;
  bottom: 0;
  margin: auto;
  background: white;
  width: 5em;
  height: 5em;
  border-radius: 5em;
  transition: all 0.6s cubic-bezier(0.615, 0, 0.07, 1);
}
.btn1:after {
  color: black;
  content: "<i class=" bi bi-arrow-right "></i>";
  font-size: 2.6em;
  position: absolute;
  z-index: -1;
  left: -0.92em;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 1.1em;
  height: 1.1em;
}
.btn1:hover {
  transition: all 0.6s ease;
  transition-delay: 0.3s;
  color: black;
}
.btn1:hover:before {
  transition: all 0.6s cubic-bezier(0.615, 0, 0.07, 1);
  width: 140%;
}
.btn1 i {
  color: black;
}
.menu-btn {
  background: transparent;
  width: 50px;
  height: auto;
  padding: 10px;
  display: block;
}
.menu-btn span {
  width: 100%;
  display: block;
  height: 2px;
  background: #fff;
  margin-top: 8px;
  transition: all 0.3s ease-in-out;
}
.menu-btn span:first-child {
  margin-top: 0;
}
.menu-btn:hover span:first-child {
  transform: rotate(-45deg) translate(-6px, 2px);
  width: 15px;
}
.menu-btn:hover span:last-child {
  transform: rotate(45deg) translate(-6px, -2px);
  width: 15px;
}

.fancy-list a {
  text-decoration: none;
  color: white !important;
  transition: all 0.3s ease !important;
}

.fancy-list {
  list-style: none;
  padding: 0.5em;
  margin: 0;
}

.fancy-list > li {
  padding: 0;
  margin: 0;
  margin-bottom: 0.5em;
  line-height: 1;
}

.fancytexthover {
  position: relative;
  display: inline-block;
}

.fancytexthover:hover .textwrapper {
  width: 100%;
}

.textwrapper {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  width: 0;
  display: inline-block;
  white-space: pre;
  color: #fff;
  transition: width 500ms;
  border-bottom: 1px solid;
  padding-bottom: 0.15em;
}
.skill {
  margin-top: 80px;
}
.skills {
  background-color: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 6px;
  position: relative;
  margin-bottom: 80px;
  border-radius: 3px;
}
.title-bar {
  position: absolute;
  top: -50px;
  margin: 5px;
}
.skills span {
  float: right;
  margin-top: -22px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.skillbar {
  background: linear-gradient(to right, #6a47af 0%, #f987d6 100%);
  width: 0px;
  height: 6px;
  border-radius: 3px;
}
.scroll {
  /* enable div scrolling */
  overflow: auto !important;
}
.pro-part img {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.pro-part {
  box-shadow: 1px 1px 8px 1px rgb(0 0 0 / 20%);
  height: 200px;
  margin-bottom: 370px;
}

/* Typewriter effect 1 */
@keyframes typing {
  0.0000%,
  27.3488% {
    content: "";
  }
  1.1395%,
  26.2093% {
    content: "d";
  }
  2.2791%,
  25.0698% {
    content: "de";
  }
  3.4186%,
  23.9302% {
    content: "dev";
  }
  4.5581%,
  22.7907% {
    content: "deve";
  }
  5.6977%,
  21.6512% {
    content: "devel";
  }
  6.8372%,
  20.5116% {
    content: "develo";
  }
  7.9767%,
  19.3721% {
    content: "develop";
  }
  9.1163%,
  18.2326% {
    content: "develope";
  }
  10.2558%,
  17.0930% {
    content: "developer";
  }

  30.7674%,
  51.2791% {
    content: "";
  }
  31.9070%,
  50.1395% {
    content: "w";
  }
  33.0465%,
  49.0000% {
    content: "wr";
  }
  34.1860%,
  47.8605% {
    content: "wri";
  }
  35.3256%,
  46.7209% {
    content: "writ";
  }
  36.4651%,
  45.5814% {
    content: "write";
  }
  37.6047%,
  44.4419% {
    content: "writer";
  }

  54.6977%,
  75.2093% {
    content: "";
  }
  55.8372%,
  74.0698% {
    content: "r";
  }
  56.9767%,
  72.9302% {
    content: "re";
  }
  58.1163%,
  71.7907% {
    content: "rea";
  }
  59.2558%,
  70.6512% {
    content: "read";
  }
  60.3953%,
  69.5116% {
    content: "reade";
  }
  61.5349%,
  68.3721% {
    content: "reader";
  }

  78.6279%,
  96.8605% {
    content: "";
  }
  79.7674%,
  95.7209% {
    content: "h";
  }
  80.9070%,
  94.5814% {
    content: "hu";
  }
  82.0465%,
  93.4419% {
    content: "hum";
  }
  83.1860%,
  92.3023% {
    content: "huma";
  }
  84.3256%,
  91.1628% {
    content: "human";
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.typewriter {
  --caret: currentcolor;
}

.typewriter::before {
  content: "";
  animation: typing 13.5s infinite;
}

.typewriter::after {
  content: "";
  border-right: 1px solid var(--caret);
  animation: blink 0.5s linear infinite;
}

.typewriter.thick::after {
  border-right: 3px solid #ae94e3;
}

.typewriter.nocaret::after {
  border-right: 0;
}

@media (prefers-reduced-motion) {
  .typewriter::after {
    animation: none;
  }

  @keyframes sequencePopup {
    0%,
    100% {
      content: "developer";
    }
    25% {
      content: "writer";
    }
    50% {
      content: "reader";
    }
    75% {
      content: "human";
    }
  }

  .typewriter::before {
    content: "developer";
    animation: sequencePopup 12s linear infinite;
  }
}

/**/

.button1 {
  border-color: rgba(255, 255, 255, 0.328);
  color: rgba(255, 255, 255, 0.328);
  transition: all 0.3s ease;
  padding: 10px 32px 8px 32px;
}

.button1:hover {
  color: white !important;
  border-color: white;
}
