body {
  font-family: "Exo 2", sans-serif;
  font-family: "Poppins", sans-serif !important;
  font-size: 10vmax;
  line-height: 1;
  color: white;
  background-color: #07051c !important;
  overflow: hidden;
}
.navigation {
  z-index: 1;
}
.navigation a {
  text-decoration: none;
}
.navigation a:hover {
  background-color: #252525;
  color: #fdfdfd;
}
.navigation a.active {
  background-color: #252525;
  color: #fdfdfd;
}
#page {
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}
.container {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  inset: 0;
}
.loader {
  position: absolute;
  inset: 0;
  z-index: 5;
  background-color: #1f1e337d;
  transform: translatex(0%);
  transition: transform 0.9s cubic-bezier(0.76, 0, 0.24, 1) 0.5s;
  will-change: transform;
}
.a,
.b,
.c,
.i {
  display: flex;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-property: opacity, visibility;
  transition-duration: 0.5s;
  transition-delay: -0.1s;
  transition-timing-function: ease-in-out;
  height: 100%;
}
.ac {
  margin: auto;
}
[data-route="a"] .a,
[data-route="b"] .b,
[data-route="c"] .c,
[data-route="i"] .c {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transition: opacity 0.5s ease-in 0.9s;
}
.disable-hover,
.disable-hover * {
  pointer-events: none !important;
  cursor: none;
  cursor: wait;
}

/* navigation */

.img-part {
  background-image: url("/img/960x1440-bg-menu.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
}
.img-ctc {
  background-image: url("/img/960x1440-bg-contact.jpg");
}
.row1 > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: 0px !important;
  padding-left: 0px !important;
  margin-top: var(--bs-gutter-y);
}
.text-part {
  height: 100vh;
  width: 100%;
}
.icons {
  color: white;
  justify-content: end;
  display: flex;
}
.icons i {
  padding-top: 15px;
}
nav {
  padding: 2.5rem 5rem !important;
}
.icons i,
.icons a {
  font-size: 18px;
  margin-right: 10px;
}
.icons .ctc {
  text-decoration: none;
  color: white;
  padding: 13px 32px 8px 32px;
  border: 2px solid white;
  border-radius: 2.4rem;
  margin-left: 18px;
}
.icons a {
  text-decoration: none;
  color: white;
  padding: 10px 30px;
}
.home {
  color: white;
}
.banner {
  padding-top: 180px;
  padding-left: 6rem !important;
  padding-right: 6rem !important;
}
.cv {
  padding-top: 250px;
  padding-left: 7rem !important;
  padding-right: 6rem !important;
}
.banner .headline__subtitle {
  color: #f987d6;
}
hr.meet {
  border-top: 3px solid #f987d6;
  display: inline-block;
  width: 7%;
}
.exp {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 2rem;
  margin-right: 2rem;
  border-radius: 8px;
  color: #b3bbc3 !important;
}
.download {
  border-radius: 50%;
  padding: 25px 25px 25px 30px;
  color: black;
  background-color: white;
  font-size: 25px;
  text-decoration: none;
}
.cv span {
  margin-left: 2.7rem;
  font-weight: 600;
  font-size: 15px;
}
.logo {
  width: 50px;
}
.hamburger {
  background: white;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-content: space-between;
  width: 39px;
  height: 36px;
  cursor: pointer;
}
.hamburger div {
  align-self: flex-end;
  height: 2px;
  width: 100%;
  background: black;
}
.hamburger .meat {
  width: 75%;
  transition: all 200ms ease-in-out;
}
.hamburger .bottom-bun {
  width: 50%;
  transition: all 300ms ease-in-out;
}
.hamburger:hover div {
  width: 100%;
}
.hamburger:hover .top-bun {
  animation: burger-hover 1s ease-in-out alternate;
}
.hamburger:hover .meat {
  animation: burger-hover 1s ease-in-out alternate forwards 200ms;
}
.hamburger:hover .bottom-bun {
  animation: burger-hover 1s ease-in-out alternate forwards 300ms;
}

@keyframes burger-hover {
  0% {
    width: 100%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}
.img-part {
  position: relative;
}
.hamburger-btn {
  position: absolute;
  top: 3.5rem;
  right: 5rem;
}
.banner h1 {
  font-size: 50px;
}
ul {
  list-style: none;
  padding-left: 0px !important;
}
ul li {
  margin-bottom: 2rem;
  letter-spacing: 4px;
  font: normal 600 3.6rem/1 "Poppins", sans-serif;
}
.link {
  text-decoration: none;
  color: white;
}
a {
  z-index: 9;
}
li {
  z-index: 10;
  position: relative;
}
.creator {
  opacity: 0.7;
  padding-top: 150px;
  font-size: 14px;
}

input,
textarea {
  width: 100%;
  margin-top: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #ffffff;
  border-radius: 6px;
  margin: 0 0 2.4rem 0 !important;
  outline: none;
  background-color: transparent;
  padding: 1.3rem 1.6rem 1.2rem 1.6rem;
  font: normal 400 1.4rem/1.6 "Poppins", sans-serif;
  -webkit-transition: border 0.3s, background-color 0.3s ease-in-out;
  -o-transition: border 0.3s, background-color 0.3s ease-in-out;
  -moz-transition: border 0.3s, background-color 0.3s ease-in-out;
  transition: border 0.3s, background-color 0.3s ease-in-out;
  z-index: 13 !important;
}
input {
  height: 4rem;
}

input:focus:required:invalid,
textarea:focus:required:invalid {
  color: #ffffff;
}
input:focus,
textarea:focus {
  background-color: rgba(255, 255, 255, 0.05);
  border: 2px solid #6a47af;
}
.about-me {
  opacity: 0.7;
  color: #707070;
}

.button {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  color: white;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  z-index: 888888;
  padding: 13px 32px 8px 32px;
  border: 2px solid white;
  border-radius: 2.4rem;
  margin-left: 18px;
  transition: all 0.3s ease;
}
.button span {
  position: relative;
  pointer-events: none;
}
.button:hover {
  color: black;
}
.button::before {
  --size: 0;
  content: "";
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: white;
  border-radius: 2.4rem;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: width 0.8s ease, height 0.8s ease;
}
.button:hover::before {
  --size: 400px;
}
.nav-link {
  transition: all 0.3s ease-in-out;
}
.nav-link:hover {
  color: rgb(191, 160, 182) !important;
}

.wrap {
  color: white;
}

.btn1 {
  text-decoration: none;
  color: white;
  font-weight: 600;
  position: relative;
  margin-left: 2em;
  transition: all 0.6s ease;
}
.btn1:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: -2em;
  top: 0;
  bottom: 0;
  margin: auto;
  background: white;
  width: 5em;
  height: 5em;
  border-radius: 5em;
  transition: all 0.6s cubic-bezier(0.615, 0, 0.07, 1);
}
.btn1:after {
  color: black;
  content: "<i class=" bi bi-arrow-right "></i>";
  font-size: 2.6em;
  position: absolute;
  z-index: -1;
  left: -0.92em;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 1.1em;
  height: 1.1em;
}
.btn1:hover {
  transition: all 0.6s ease;
  transition-delay: 0.3s;
  color: black;
}
.btn1:hover:before {
  transition: all 0.6s cubic-bezier(0.615, 0, 0.07, 1);
  width: 140%;
}
.btn1 i{
  color: black;
}